<!DOCTYPE html>
<html>
<head>
  <title>HCI@SCAU -- 资源共享</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag 'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
  <%= qiniu_token_tag %>
</head>
<body>

  <header class="header">
    <%= image_tag("logo.jpg") %>
  </header>

  <div class="main">
  
    <nav class="nav">
      <button class="btn btn-upload" id="btn-upload">上传</button>
      <a href="/" class="nav-item">全部</a>
      <a href="/item/cate/前端" class="nav-item">前端</a>
      <a href="/item/cate/后台" class="nav-item">后台</a>
      <a href="/item/cate/安卓" class="nav-item">安卓</a>
      <a href="/item/cate/iOS" class="nav-item">iOS</a>
      <a href="/item/cate/系统" class="nav-item">系统</a>
      <a href="/item/cate/产品" class="nav-item">产品</a>
      <a href="/item/cate/设计" class="nav-item">设计</a>
      <a href="/item/cate/其他" class="nav-item">其他</a>
      <a href="" class="nav-item" id="nav-search">搜索</a>
    </nav>

    <%= yield %>

    <footer class="footer">
      &copy; 2014 HCI@SCAU
    </footer>

  </div>

  <div class="input-window">
    <div class="input-form">
      <p>
        <input type="file" class="input" id="file-input">
        <button class="input-exit" id="input-exit">X</button>
      </p>
      <p>
        <label for="file-cate">分类：</label>
        <select name="file-cate" id="file-cate">
          <option value="前端">前端</option>
          <option value="后台">后台</option>
          <option value="安卓">安卓</option>
          <option value="iOS">iOS</option>
          <option value="系统">系统</option>
          <option value="产品">产品</option>
          <option value="设计">设计</option>
          <option value="其他">其他</option>
        </select>
      </p>
      <p>
        <textarea class="input" id="file-info" placeholder="描述一下你的资源吧！"></textarea>
      </p>
      <p>
        <button class="btn file-submit" id="file-submit">开始上传</button>
      </p>
    </div>
  </div>

  <div class="search-box">
    <input type="text" id="search-input" placeholder="这里输入要搜索的文件名">
    <button class="btn" id="search-cancel">取消</button>
    <button class="btn" id="search-submit">确定</button>
  </div>

</body>
</html>
