<!DOCTYPE html>
<html>
<head>
  <title>HCI -- 资源共享</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= qiniu_token_tag %>
</head>
<body>

  <header class="header">
    <%= image_tag("logo.jpg") %>
  </header>

  <%= yield %>

  <div class="input-window">
    <div class="input-form">
      <p>
        <input type="file" class="input" id="file-input">
      </p>
      <p>
        <label for="file-cate">分类：</label>
        <select name="file-cate" id="file-cate">
          <option value="前端">前端</option>
          <option value="后台">后台</option>
          <option value="安卓">安卓</option>
          <option value="iOS">iOS</option>
          <option value="系统">系统</option>
          <option value="产品">产品</option>
          <option value="设计">设计</option>
          <option value="其他">其他</option>
        </select>
      </p>
      <p>
        <textarea class="input" id="file-info" placeholder="描述一下你的资源吧！"></textarea>
      </p>
      <p>
        <button class="btn file-submit" id="file-submit">开始上传</button>
      </p>
    </div>
  </div>

</body>
</html>
